/* Import Urbanist font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #F6B100;
  --secondory: #181A20;

  --silver: #9F9F9F;
  --gray: #EEEEEE;
  --smoke: #F5F5F5;
  --red: #FF0B0B;
  --navy: #56548C;
  --tan: #D8996C;

  --white: #FFFFFF;
  --lation: #FCFCFC;

}

body {
  font-family: 'Urbanist', sans-serif;
  background: var(--lation);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary);
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  color: var(--secondory);
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 21px;
}

#search-form {
  margin-top: 20px;
}

#search-input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  color: var(--silver);
  border: none;
  outline: none;
  background: var(--white);
  border-radius: 5px;
}

.finder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
}

.finder img {
  width: 75%;
  height: 75%;
  object-fit: cover;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background: var(--white);
  color: var(--secondory);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--gray);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.recipe-card {
  display: flex;
  gap: 16px;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid var(--gray);
  background: var(--white);
  border-radius: 10px;
  overflow: hidden;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recipe-card h2 {
  font-size: 20px;
  margin: 0 0 10px;
  color: var(--secondory);
  text-decoration-style: dish headings;
}

.recipe-card img {
  width: 96px;
  height: 72px;
  border-radius: 10px;
  object-fit: cover;
}

.recipe-card a {
  font-size: 14px;
  color: var(--primary);
}

.recipe-card ul {
  list-style-type: none;
  padding: 0;
}

.recipe-card li {
  margin-bottom: 20px;
}


.recipe-details {
  margin: 20px auto;
  max-width: 600px;
}

.recipe-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipe-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.recipe-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.recipe-details ul,
.recipe-details ol {
  margin-bottom: 20px;
}

.recipe-details li {
  margin-bottom: 5px;
}

.recipe-details p {
  margin-bottom: 20px;
}

.recipe-details .extend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#loading {
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 680px;
}

#progress-bar-container {
  width: 100%;
  background-color: var(--primary);
  border-radius: 5px;
  overflow: hidden;
}

#progress-bar {
  width: 0;
  height: 15px;
  background-color: var(--secondory);
  transition: width 0.4s;
}